<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Database</servlet-name>
        <servlet-class>Matrizsudokuversion.Database</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUserPassword</servlet-name>
        <servlet-class>Matrizsudokuversion.CheckUserPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>Matrizsudokuversion.CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Matriz</servlet-name>
        <servlet-class>Matrizsudokuversion.Matriz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Database</servlet-name>
        <url-pattern>/Database</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUserPassword</servlet-name>
        <url-pattern>/CheckUserPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Matriz</servlet-name>
        <url-pattern>/Matriz</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
