<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>primo1</param-name>
        <param-value>17</param-value>
    </context-param>
    <context-param>
        <param-name>primo2</param-name>
        <param-value>37</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <filter>
        <filter-name>FiltroLongUser</filter-name>
        <filter-class>Matrizsudokuversion.FiltroLongUser</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroReintentos</filter-name>
        <filter-class>Matrizsudokuversion.FiltroReintentos</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroUsuarioConectado</filter-name>
        <filter-class>Matrizsudokuversion.FiltroUsuarioConectado</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroUsuarioConectado</filter-name>
        <servlet-name>Matriz</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroLongUser</filter-name>
        <servlet-name>CheckUserPassword</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroReintentos</filter-name>
        <servlet-name>CheckUser</servlet-name>
    </filter-mapping>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>Matrizsudokuversion.CountUserListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Database</servlet-name>
        <servlet-class>Matrizsudokuversion.Database</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUserPassword</servlet-name>
        <servlet-class>Matrizsudokuversion.CheckUserPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>Matrizsudokuversion.CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Matriz</servlet-name>
        <servlet-class>Matrizsudokuversion.Matriz</servlet-class>
        <init-param>
            <param-name>saludo</param-name>
            <param-value>SUDOKU JUANAN</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Matrizsudokuversion.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHash</servlet-name>
        <servlet-class>Matrizsudokuversion.ServletHash</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Database</servlet-name>
        <url-pattern>/Database</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUserPassword</servlet-name>
        <url-pattern>/CheckUserPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Matriz</servlet-name>
        <url-pattern>/Matriz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHash</servlet-name>
        <url-pattern>/ServletHash</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
